.dark .bg-white {
    background-color: #1f2937 !important;
}

/* .dark .gray-50   { background-color: #f9fafb !important; }
.dark .gray-100  { background-color: #f3f4f6 !important; }
.dark .gray-200  { background-color: #e5e7eb !important; }
.dark .gray-300  { background-color: #d1d5db !important; }
.dark .gray-400  { background-color: #9ca3af !important; }
.dark .gray-500  { background-color: #6b7280 !important; }
section .dark body .bg-gray-600  { background-color: #4b5563 !important; }
.dark .bg-gray-700  { background-color: #374151 !important; }
.dark .gray-800  { background-color: #1f2937 !important; }
.dark .gray-900  { background-color: #111827 !important; }
.dark .gray-950  { background-color: #030712 !important; }  */

:root {
    --primary-color: #64D8F9;
    --secondary-color: #A2FBFF;
    --secondary-color: #E2E2E2;
    --secondary-color: #71787B;
    --secondary-color: #00212F;

    --primary-color: #0074D9;
    --secondary-color: #FFB248;
    --secondary-color: #333333;
    --secondary-color: #999999;
    --secondary-color: #F5F5F5;

    /* sky-600 yellow 500 */

  --body-color: #A2FBFF;
  --text-color: #636363;
  --text-color-dark: #242738;
  --white-color: #ffffff;
  --light-color: #f8f9fa;
  --font-family: Lato;
}



/* nav .buttom-navigation{
    z-index: 100;
} */

 header.header-mobile{
    border-radius: 0 0 30px 30px;
}


@keyframes ondear {
  0% { transform: rotate(0deg) translateX(0); }
  25% { transform: rotate(2deg) translateX(1px); }
  50% { transform: rotate(0deg) translateX(0); }
  75% { transform: rotate(-2deg) translateX(-1px); }
  100% { transform: rotate(0deg) translateX(0); }
}
.animate-ondear {
  animation: ondear 1.5s ease-in-out infinite;
}


