.dark .bg-white {
    background-color: #1f2937 !important;
}

/* .dark .gray-50   { background-color: #f9fafb !important; }
.dark .gray-100  { background-color: #f3f4f6 !important; }
.dark .gray-200  { background-color: #e5e7eb !important; }
.dark .gray-300  { background-color: #d1d5db !important; }
.dark .gray-400  { background-color: #9ca3af !important; }
.dark .gray-500  { background-color: #6b7280 !important; }
section .dark body .bg-gray-600  { background-color: #4b5563 !important; }
.dark .bg-gray-700  { background-color: #374151 !important; }
.dark .gray-800  { background-color: #1f2937 !important; }
.dark .gray-900  { background-color: #111827 !important; }
.dark .gray-950  { background-color: #030712 !important; }  */

:root {
  --font-family: Lato;
}

/* nav .buttom-navigation{
    z-index: 100;
} */

header.header-mobile{
    border-radius: 0 0 30px 30px;
}

/* BANDERA */
.bandera-bueno{
    fill: #0ea5e9;
    stroke: #0ea5e9;
}

.dark .bandera-bueno{
    fill: #7dd3fc;
    stroke: #7dd3fc;
}

.bandera-dudoso{
    fill: #eab308;
    stroke: black;
}

.dark .bandera-dudoso{
    fill: #fde047;
    stroke: black;
}

.bandera-peligroso{
    fill: black;
    stroke: #b91c1c;
}

.dark .bandera-peligroso{
    fill: black;
    stroke: #fca5a5;
}

.bandera-rayos{
    fill: black;
    stroke: black;
}

.bandera-prohibido{
    fill: #b91c1c;
    stroke: #b91c1c;
}

.dark .bandera-prohibido{
    fill: #fca5a5;
    /* ef4444 */
    stroke: #fca5a5;
}

.bandera-perdido{
    fill: white;
    stroke: white;
}

.dark .bandera-perdido{
    fill: rgb(241, 241, 241);
    stroke: rgb(241, 241, 241);
}

@keyframes ondear {
  0% { transform: rotate(0deg) translateX(0); }
  25% { transform: rotate(2deg) translateX(1px); }
  50% { transform: rotate(0deg) translateX(0); }
  75% { transform: rotate(-2deg) translateX(-1px); }
  100% { transform: rotate(0deg) translateX(0); }
}

.animate-ondear {
  animation: ondear 1.5s ease-in-out infinite;
}

/* PLAYAS */
.color-rose-custom{
    color: #be123c;
}

.dark .color-rose-custom{
    color: #d82c57;
}

.color-pink-custom{
    color: #be185d;
}

.dark .color-pink-custom{
    color: #dd367c;
}

.color-violet-custom{
    color: #7c3aed;
}

.dark .color-violet-custom{
    color: #9b65f6;
}

.color-blue-custom{
    color: #2563eb;
}

.dark .color-blue-custom{
    color: #497ff4;
}

.border-gray-100 {
    border-color: #f3f4f6;
}

.border-gray-200 {
    border-color: #e5e7eb;
}

